<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.goods.mapper.SpecKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.goods.SpecKey">
        <id column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="update_user" property="updateUser" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="group_id" property="groupId" />
        <result column="spec_name" property="specName" />
        <result column="spec_type" property="specType" />
        <result column="spec_unit" property="specUnit" />
        <result column="spec_enum" property="specEnum" />
        <result column="is_search" property="isSearch" />
        <result column="is_essential" property="isEssential" />
        <result column="deleted" property="deleted" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, group_id, spec_name, spec_type, spec_unit, spec_enum, is_search, is_essential, deleted, sort
    </sql>

</mapper>
