<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.admin.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.user.SysMenu">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="MenuItemMap" type="com.htg.common.vo.user.MenuItemVO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="parent_name" property="parentName"/>
        <result column="deleted" property="deleted"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, parent_id, name, type, sort, icon, deleted
    </sql>

    <sql id="Menu_Item_List">
        SM01.id, SM01.parent_id, SM02.name as parent_name, SM01.name, SM01.type, SM01.sort, SM01.icon
    </sql>

    <select id="listMenu" parameterType="map" resultMap="MenuItemMap">
        select
        <include refid="Menu_Item_List"/>
        from sys_menu SM01 left join
        sys_menu SM02 on SM01.parent_id=SM02.id
        <where>
            SM01.deleted=0 and SM02.deleted=0
            <if test="pageDTO.name!=null">
                and SM01.name like concat ('%',${pageDTO.name},'%')
            </if>
            <if test="pageDTO.parentId!=null">
                and SM01.parent_id=#{pageDTO.parentId}
            </if>
            <if test="pageDTO.type">
                and SM01.type=#{pageDTO.type}
            </if>
        </where>
    </select>

    <select id="findMenuForUser" resultType="com.htg.common.entity.user.SysMenu" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_menu SM where SM.id in (
        select distinct RMR.menu_id from role_menu_rel RMR left join sys_role SR on RMR.role_id=SR.id where
        SR.deleted=0 and RMR.deleted=0 and
        SR.id in ( select URR.role_id from user_role_rel URR where URR.deleted=0 and URR.user_id=#{userId})
        )
    </select>

</mapper>
